<div class="panel-body" style="height: 180px; overflow-y:scroll">
        <div style="border: 1px  #000000; width: 100%; margin: 0 auto;"><span>

                        <p>若喜欢该脚本可前往 <a href="https://afdian.net/@mengzonefire" class="mzf_link"
                                        rel="noopener noreferrer" target="_blank">赞助页</a> 支持作者</p>

                        <p>若出现任何问题请前往 <a href="https://greasyfork.org/zh-CN/scripts/432065" class="mzf_link"
                                        rel="noopener noreferrer" target="_blank">脚本主页</a> 反馈</p>

                        <p>脚本源码托管在 <img src="https://github.githubassets.com/favicons/favicon.png" width='16'><a
                                        href="https://github.com/mengzonefire/aliyun-rapidupload-userscript" class="mzf_link"
                                        rel="noopener noreferrer" target="_blank">Github</a>, 若喜欢可以给个Star</p>

                        <p><br></p>

                        <p>1.0.0 更新内容(21.9.8):</p>

                        <p>1. 转存文件不支持输入路径, 默认转存在当前目录</p>

                        <p>2. 自带重命名功能支持修改文件后缀名</p>

                </span></div>
</div>